<phpunit bootstrap="src/autoload.php">
  <testsuites>
    <testsuite name="bilemo">
      <file>tests/DatabaseTest.php</file>
      <file>tests/AuthenticationTest.php</file>
      <file>tests/RouteTest.php</file>
      <file>tests/OwnerAccessTest.php</file>
      <file>tests/OperationAccessTest.php</file>
      <file>tests/OperationTest.php</file>
    </testsuite>
  </testsuites>
</phpunit>